@import url("https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tilt+Neon:YROT@-45..45&family=Tilt+Warp:XROT,YROT@11,-9&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: auto;
}
header {
  border: solid;
  background-color: #e6ded2;
  width: 100%;
  z-index: 1;
}

.cancel {
  display: none !important;
}

.nav_social {
  display: none;
}

.logo {
  width: 600px;
  margin: auto;
}

.genLayout {
  width: 70%;
  margin: auto;
}

nav {
  justify-content: end;
  position: relative;
  height: 10dvh;
}

#toggle,
label {
  display: none;
}
.innerNav {
  position: relative;
  width: 100%;
  padding-block: 0.7rem;
  border-top: 6px double;
  border-bottom: 6px double;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
nav > i {
  margin-right: 3rem;
  font-size: 18px;
}
.navLinks {
  display: flex;
  position: relative;
}

a > i {
  margin-left: -37px;
  display: flex;
  align-items: center;
}
.navLinks > ul,
li,
a {
  list-style: none;
  display: flex;
  gap: 40px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.dropD,
.dropD_2 {
  position: absolute;
  padding: 20px 10px;
  height: 30vh;
  top: 1.6rem;
  left: -2px;
  background-color: #fcf0dc;
  width: 1200px;
  display: none;
  z-index: 1 !important;
}

.dropD_2 {
  top: 30px;
  left: -2px;
}

.dropD_2 > .col_2 {
  width: 100%;
}

.drop_innerD {
  display: flex;
  justify-content: space-between;
}

.col_1 {
  width: 160px;
  background-color: #f8e9d2;
}

.col_1 > a {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  width: 100%;
  font-size: 0.9em;
  padding-block: 8px;
  text-transform: capitalize;
}

.col_1 > a:hover {
  background-color: #84683b;
}

.col_2 {
  width: 1000px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
}

.navLinks > ul > li:nth-child(2):hover {
  background-color: red;
}

.navLinks > ul > li:nth-child(2) > a:hover + .dropD {
  display: block;
}
.navLinks > ul > li:nth-child(3) > a + .dropD_2 {
  /* display: block; */
}

.card > img {
  width: 97%;
  height: 180px;
  object-fit: cover;
}

.textSide {
  font-size: 0.85em;
  width: 100%;
}

#section_1 {
  padding: 30px 0px 40px 0;
  width: 100%;
  background-color: #e6ded2;
}

.section_1 {
  display: flex;
  gap: 50px;
  align-items: center;
  border-bottom: 6px double;
  padding-bottom: 50px;
}

.section_1ColOne {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 400px;
}

.innerSection_1 {
  padding-bottom: 30px;
}

.innerSection_1 > a > h2 {
  word-spacing: 5px;
  font-size: 3.3em;
  opacity: 0.7;
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "XROT" 0;
}

.innerSection_1 > a > h2:hover {
  color: #84683b;
}

.innerCol_2 {
  display: flex;
  gap: 60px;
}

.section_1ColOne_subCol_1 > p,
.section_1ColOne_subCol_2 > p {
  font-size: 1em;
  font-family: "Tilt Neon", sans-serif;
}

.section_1Coltwo {
  width: 50%;
  height: 400px;
}

.section_img {
  height: 400px;
  width: 100%;
}

.section_img > img {
  width: 100%;
  height: 100%;
}

#section_2 {
  padding: 0 20px 40px 20px;
  width: 100%;
  background-color: #e6ded2;
}

.section_2,
.section_3 {
  display: flex;
  align-items: center;
  gap: 30px;
}

.section_3 {
  padding-bottom: 30px;
  border-bottom: 6px double;
}

.colOne1_,
.colOne2_,
.colOne3_ {
  width: 1010px;
  display: flex;
  flex-direction: column;
}

.colOne1_header,
.colOne2_header {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.colOne1_header > img,
.colOne2_header > img {
  width: 60px;
  object-fit: cover;
  margin-left: -6px;
}

.colOne1_header > h4,
.colOne2_header > h4 {
  font-size: 1.1em;
  color: #84683b;
  text-transform: uppercase;
}

.col_cardWrapper {
  display: grid;
  grid-template-columns: auto;
  gap: 13px;
}

.colOne_card,
.colTwo_card {
  display: flex;
  align-items: center;
  gap: 10px;
}

.colOne_text > a {
  font-size: 0.7em;
  text-transform: none;
  cursor: pointer;
}
.colOne_text > a:hover {
  color: #84683b;
}

.colOne_text > span {
  font-size: 0.65em;
  opacity: 0.6;
}
.colOne3_ > img {
  width: 100%;
}
.colOne3_text > p {
  font-size: 0.86em;
}

#latest_articles {
  padding: 0 20px;
  width: 100%;
  background-color: #e6ded2;
  padding-bottom: 20px;
}

.latest_articles {
  border-bottom: double 6px;
  gap: 50px;
  display: flex;
}

.sideA {
  width: 67%;
}

.cardContainer {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  margin-bottom: 40px;
}

.col_Acard {
  width: 350px;
}

.cardIMG {
  height: 180px;
  width: 100%;
}
.cardIMG > img {
  height: 100%;
  width: 100%;
}

.card_info {
  margin-block: 8px;
}

.info_1 {
  width: 100%;
}

.info_1 > a {
  font-size: 0.69em;
  margin-block: 4px;
}
.info_1 > small {
  font-size: 0.6em;
  font-weight: 900;
}
.info_1 > small > span {
  font-size: 0.7em;
  opacity: 0.5;
  font-weight: 900;
}

.info_2 > p {
  font-size: 0.75em;
}

.sideB_colA {
  padding-top: 40px;
}

.sideB {
  position: sticky;
  top: -6%;
  height: 980px;
}

.sideB_colA > img {
  width: 100%;
}

.news_info {
  margin-block: 20px;
  font-size: 0.9em;
}

.author_1 {
  margin-bottom: 10px;
}

.author_1 > a {
  font-size: 0.8em;
  padding-block: 5px;
}

.author_1 > a:hover {
  color: #84683b;
}

.first {
  display: flex;
  align-items: center;
  gap: 3px;
}

.first > a {
  font-size: 0.58em;
  color: #fff;
  padding: 3px;
  background-color: #000;
}

.first > small {
  font-size: 0.7em;
  font-weight: 900;
}

.first > small > span {
  opacity: 0.5;
}

.followers {
  display: flex;
  gap: 30px;
  padding: 10px 0;
}

.follow {
  width: 109px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #000;
  gap: 5px;
  height: 100px;
}

.follow > p {
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.follow > small {
  font-weight: 100;
  font-family: serif;
  font-size: 0.7em;
}

footer {
  word-spacing: 100%;
  padding: 0 20px;
  background-color: #e6ded2;
  padding-bottom: 20px;
}

.footer {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 40px;
}

.footerOne {
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.footerOne > p {
  font-size: 0.9em;
  font-weight: 800;
}

.footerTwo {
  width: 380px;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.innerProfile {
  display: flex;
  align-items: center;
  gap: 5px;
}

.innerProfile > img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
}

.username {
  display: flex;
  flex-direction: column;
}

.username > span {
  font-size: 0.9em;
  text-transform: lowercase;
  color: blue;
}

.username > small {
  font-size: 0.8em;
}

.profile > button {
  float: right;
  background-color: transparent;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-right: 6px;
}
.profile > button > a {
  font-size: 0.8em;
  text-align: center;
}

.post {
  width: 100%;
  height: 230px !important;
}

.post > img {
  width: 122px;
  height: 70px;
  object-fit: cover;
}
.content {
  height: inherit;
  display: flex;
  flex-direction: column;
  gap: 19px;
  width: 350px;
  padding-right: 20px;
}

.lineA {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lineA:hover {
  color: #84683b;
}

.lineA > p {
  font-size: 0.8em;
}

/* sub page arrest */
#Arrest {
  width: 100%;
  padding: 0 20px;
  border: solid;
  background-color: #e6ded2;
}

.navigation {
  margin-bottom: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.home,
.news,
.science {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.home > small,
.news > small,
.science > small {
  font-size: 0.8em;
  opacity: 0.5;
}
.home > i,
.news > i,
.science > i {
  font-size: 0.6em;
  opacity: 0.5;
  padding-top: 3px;
}

.navigation_2 {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 10px;
}

.navigation_2 > a {
  font-size: 0.6em;
  padding: 4px;
  color: #fff;
  background-color: #000;
}

.c_header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.c_header > img {
  width: 60px;
  margin-left: -7px;
  object-fit: cover;
}

.c_header > h2 {
  font-size: 1.8em;
  font-family: "Tilt Neon", sans-serif;
}

.content_info {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.content_info > small {
  font-size: 0.8em;
  color: #0000006d;
}

.content_info > small > span {
  font-weight: 900;
  opacity: 1;
  color: #000;
}

.seen > i,
.comment > i {
  font-size: 0.7em;
}
.seen > small,
.comment > small {
  font-size: 0.7em;
}

.Arrest {
  border: solid;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .navLinks {
  }

  #toggle {
    display: none;
  }

  label {
    font-size: 1.5em;
    display: block;
  }

  .logo {
    width: 100%;
    padding: 0 10px;
  }

  .innerNav {
    width: 100%;
    padding: 0 10px;
    padding-block: 0.3rem;
  }

  .genLayout {
    width: 98%;
    margin: auto;
  }

  .nav_right {
    z-index: 3;
    padding-top: 10px;
    width: 100%;
    height: 100dvh;
    background-color: #e6ded2;
    position: absolute;
    top: -100px;
    left: -100%;
    right: 0;
    display: flex;
    flex-direction: column !important;
    transition: ease-in-out 400ms;
  }

  .cancel {
    display: flex !important;
    justify-content: end;
    align-items: center;
    padding: 10px 10px 20px 0;
  }

  .cancel > input {
    display: none !important;
  }

  .cancel > #toggle:checked + .nav-right {
    display: none !important;
  }

  #toggle:checked + .nav_right {
    display: block !important;
    left: 0;
  }

  .nav_social {
    display: block;
    margin-top: -64px;
  }

  .socialOne {
    padding: 15px 15px 15px 30px;
    align-items: center;
    gap: 10px;
    display: flex;
  }

  .socialOne > a {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .socialOne > a > i {
    font-size: 1.4em;
    margin-left: -10px;
  }

  .sign_in_and_reg {
    display: flex;
    padding-block: 20px;
    justify-content: center;
    gap: 10px;
  }

  .btn_01 {
    border-right: solid 1px;
    padding-right: 10px;
  }

  .btn_01 > a,
  .btn_02 > a {
    color: #000;
    font-weight: 400;
    font-size: 1.3em;
    text-transform: none;
  }
  .navLinks {
    padding-top: 20px;
    flex-direction: column;
    position: relative;
  }

  .navLinks > ul,
  li,
  a {
    flex-direction: column;
    font-size: 1.1em;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    gap: 12px;
    padding-left: 10px;
  }

  .navLinks > ul > li:nth-child(2) > a > i,
  .navLinks > ul > li:nth-child(3) > a > i {
    display: none !important;
  }

  a {
    text-transform: capitalize;
    font-size: 0.9em;
  }

  .drop_innerD {
    width: 130px;
    margin-top: -8px;
    background-color: transparent !important;
  }

  .drop_innerD > .col_1 > a {
    font-size: 0.7em !important;
    padding: 5px;
    font-family: serif;
  }

  .drop_innerD > .col_2 {
    display: none !important;
  }

  .dropD {
    display: none !important;
    position: unset;
    padding: unset;
    height: 100%;
    top: unset;
    left: unset;
    background-color: transparent;
    width: 130px;
    display: block;
  }

  .dropD.drop_innerD > .col_1 {
    display: none !important;
  }

  .dropD_2 {
    display: none !important;
  }

  .col_1 > a {
    padding-left: 10px;
    justify-content: start;
    align-items: start;
    width: unset;
    font-size: 0.9em;
    padding-block: 8px;
    text-transform: capitalize;
  }
  .navLinks > ul > li:nth-child(2) > a:hover + .dropD {
    display: block !important;
  }
  .navLinks > ul > li:nth-child(3) > a:hover + .dropD_2 {
    display: none;
  }

  #section_1 {
    padding: 0px 0px 10px 0px;
  }

  .section_1ColOne {
    width: 100%;
    height: 140px;
  }

  .innerSection_1 {
    padding-bottom: 0px;
  }

  .innerSection_1 > a > h2 {
    font-size: 2.2em;
  }

  .innerCol_2 {
    display: none;
  }

  .section_1Coltwo {
    display: none;
  }
  #section_2 {
    padding: 0 10px;
    width: 100%;
    padding-bottom: 20px;
  }

  .section_2,
  .section_3 {
    display: flex;
    width: 100%;
    align-items: unset;
    flex-direction: column;
    gap: 30px;
  }

  .section_3 {
    padding-bottom: 30px;
    border-bottom: 6px double;
  }

  .colOne1_,
  .colOne2_,
  .colOne3_ {
    width: 100%;
  }

  .colOne3_text > p {
    font-size: 1em;
    padding-bottom: 15px;
  }
  .typewrter {
    padding-block: 30px;
  }
  #latest_articles {
    padding: 0 10px;
    padding-bottom: 0px;
    background-color: #e6ded2;
  }
  .latest_articles {
    width: 100%;
    flex-direction: column;
    gap: 0px;
  }
  .info_1 > a {
    font-size: 0.9em;
  }
  .info_1 > small {
    font-size: 0.8em;
  }
  .info_1 > small > span {
    font-size: 0.8em;
  }

  .info_2 > p {
    font-size: 1em;
  }

  .news_info > p {
    font-size: 1.1em;
  }

  .sideA {
    width: 100%;
  }
  .cardContainer {
    width: 100%;
    grid-template-columns: auto;
    overflow-y: hidden;
    margin-bottom: 20px;
    height: inherit;
  }
  .col_Acard {
    width: 100%;
    margin: auto;
  }
  .colOne_text > a {
    font-size: 1em;
  }

  .colOne_text > span {
    margin-left: 10px;
    font-size: 0.7em;
  }
  .author_1 {
    margin-bottom: 20px;
  }

  .first {
    gap: 7px;
  }
  html,
  body {
    overflow-x: hidden;
  }

  /* footer */

  footer {
    word-spacing: 100%;
    padding: 30px 0 30px 0;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }

  .footerOne {
    width: 100%;
    gap: 30px;
    padding: 0 10px;
  }

  .footerOne > p {
    font-size: 1em;
    font-weight: 600;
  }

  .footerTwo {
    /* padding: 0 10px; */
    width: 100%;
  }

  .username > span {
    font-size: 1em;
  }

  .username > small {
    font-size: 0.9em;
  }

  .profile > button {
    border: solid #000;
    margin-right: 0px;
  }

  .profile > button > a {
    font-size: 1em;
  }

  .post {
    margin-left:15px ;
    margin-top: 5px;
  }

  .post > img {
    width: 125px;
  }

  .footerThree {
    padding: 0 10px;
  }

  .content {
    width: 100%;
    padding-right: 0px;
  }

  .lineA > p {
    font-size: 1em;
    margin-left: -10px;
  }
}
